/* Modular Scale 
---------------------- 
16px @ 1:1.333    
----------------------*/

/* Style Inspiration:
- Google
- GitHub
- Mika Jain
*/

body
{
    margin: 0;
    color: rgb(10, 10, 10);
    font: 16px "Open Sans", Helvetica, sans-serif;

} 
/* ========================== */ 
/* GLOBAL STYLE */
/* ========================== */ 

*
{
    box-sizing: border-box;
}

::selection
{
    background: rgba(180, 0, 0, 0.999);
    color: white;
}


h1, h2, h3
{
    margin-top: 0;
}

h1
{
    margin-bottom: 32px;
    
    font-weight: 800;
    font-size: 37.9px;
}

h2
{
    margin-bottom: 41.5px;
    font-size: 28.4px;
}

h3 {
    font-size: 21.3px;
}

button, input
{
    font: 16px "Open Sans", Helvetica, sans-serif;
}

small
{
    font-size: 12px;
    color: rgb(100, 100, 100);
}

a
{
    text-decoration: none;
    color: rgb(0, 70, 150);
}

a:hover
{
    text-decoration: underline;
}

.primary-button:hover, .secondary-button:hover
{
    text-decoration: none;
}

.primary-button
{
    display: block;
    max-width: 300px;
    padding: 8px 0 8px 8%;
    margin-bottom: 8px;
    border: none;

    border-radius: 2px;

    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    background: rgb(20, 150, 200); /* Fallback */
    background: -webkit-linear-gradient(top, rgb(20, 150, 200), rgb(15, 140, 195));
    background: -moz-linear-gradient(top, rgb(20, 150, 200), rgb(15, 140, 195));
    background: -ms-linear-gradient(top, rgb(20, 150, 200), rgb(15, 140, 195));
    
    transition: background-image 0.9s;
    -webkit-transition: background-image 0.9s;
    -moz-transition: background 0.2s;
}

.primary-button:hover
{
    background-image: -webkit-linear-gradient(top, rgb(0, 100, 150), rgb(0, 90, 130));
    cursor: pointer;
}

.primary-button:active
{
    -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 20px 40px 0px inset, rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.14902) 0px 20px 40px 0px inset, rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 20px 40px 0px inset, rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
}

.secondary-button
{
    display: inline-block;
    padding: 4px 8px;

    border: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(160, 160, 160);
    border-radius: 2px;
    outline: none;

    color: rgb(10, 10, 10);

    background-color: rgb(245, 245, 245);
    background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(225, 225, 225));
    background-image: -moz-linear-gradient(top, rgb(245, 245, 245), rgb(225, 225, 225));

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9)
}

.secondary-button:hover
{
    cursor: pointer;
    color: white;
    text-shadow: none;

    background-color: rgb(0, 100, 150);
    background-image: -webkit-linear-gradient(top, rgb(0, 100, 150), rgb(0, 80, 130));
    background-image: -moz-linear-gradient(top, rgb(0, 100, 150), rgb(0, 90, 140));

    border-color: rgb(0, 100, 150) rgb(0, 100, 150) rgb(0, 80, 130);
}

.secondary-button:active
{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
}

/* ========================== */ 
/* PAGE STRUCTURE */
/* ========================== */

nav, .school-info-area, aside
{
    float: left;
    width: 33%;
    height: 100%;
    padding-top: 0.7%;
}

nav
{
    background-color: rgb(240, 240, 240);
}

.school-info-area
{
    border-right: 1px solid rgb(200, 200, 200);
}

/* Used inside areas to give padding, because they have a definite width that would be increased and add up to > 100% if padding were added. */
.padding-box
{
    position: relative;
    padding: 0 2%;
}


/* ========================== */
/* NAV AREA */
/* ========================== */ 

.log-out
{
    position: absolute;
    top: 0;
    right: 5px;
}

.form-wrapper
{
    text-align: center;
}

ul
{ 
    margin-top: 0;

    list-style-type: none; 
    padding-left: 0;
}

li a
{
    text-decoration: none;
}

form
{
    display: inline-block;
    padding: 10px;
    margin: 20px auto;
    
    border: 5px solid rgba(0, 50, 255, 0.2);
    border-radius: 3px;
}

nav label, nav input
{
    float: left;
    margin-bottom: 10px;
    margin-top: 0;
}

nav label
{
    clear: left;
    width: 100px;
    
    position: relative;
    top: 2px /* align with input */
}

nav input[type=text], nav input[type=password]
{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.175);

    padding: 4px 6px;
}

nav input[type=text]:focus, nav input[type=password]:focus
{
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 10px 1px rgb(0, 100, 255);
}

nav form a
{
    margin-top: 24px; /* 14 + 10 (padding-top of submit button) = 24 */
    float: left;
    clear: left;
}

nav input[type=submit]
{
    float: right;

    /* Override nav button style */
    margin-top: 14px;
    padding: 10px 22px;
}

/* ========================== */
/* SCHOOL INFO AREA */
/* ========================== */

.schedule
{
    float: left;
    width: 50%;
}

.today
{
    margin-bottom: 25px;
}

.tomorrow
{
    margin-bottom: 36px;
}

.schedule span
{
    display: block;
    margin-bottom: 10px;
}

.schedule h3
{
    margin-bottom: 0;
    display: inline;
}

.announcements
{
    clear: left; /* Float from schedules */
}   

.announcements li
{
    margin-bottom: 14px;
}

@media all and (max-width: 1050px)
{
    .schedule
    {
        float: none;
        width: 100%;
    }
}

/* ========================== */
/* PERSONAL INFO AREA */
/* ========================== */

aside table
{
    margin-bottom: 20px;
    border-collapse: collapse;
}

aside tr
{
    border-bottom: 1px solid rgb(190, 190, 190);
}

aside tr:first-of-type
{
    border-top: 1px solid rgb(190, 190, 190);
}

aside td
{
    width: 50%;
    padding: 10px 20px;
}

aside td:first-child
{
    font-weight: bold;
}

aside li
{
    margin-bottom: 14px;
}

aside ul .secondary-button
{
    width: 200px;
}
