/* Modular Scale 
---------------------- 
16px @ 1:1.333    
----------------------*/

/* Style Inspiration:
- Google
- GitHub
- Mika Jain
*/

html, body
{
    height: 100%; 
    margin: 0; 
    color: rgb(50, 50, 50);
    font: 16px "Open Sans", Helvetica, sans-serif;

} 
/* ========================== */ 
/* GLOBAL STYLE */
/* ========================== */ 

*
{
    box-sizing: border-box;
}

::selection
{
    background: rgba(180, 0, 0, 0.999);
    color: white;
}


h1, h2, h3
{
    margin-top: 0;
}

h1
{
    margin-bottom: 32px;
    
    font-weight: 800;
    font-size: 37.9px;
}

h2
{
    margin-bottom: 41.5px;
    font-size: 28.4px;
}

h3 
{
    font-size: 21.3px;
}

button, input
{
    font: 16px "Open Sans", Helvetica, sans-serif;
}

small
{
    font-size: 12px;
    color: rgb(100, 100, 100);
}

a
{
    text-decoration: none;
    color: rgb(0, 70, 150);
}

a:hover
{
    text-decoration: underline;
}

.primary-button:hover, .secondary-button:hover
{
    text-decoration: none;
}

.primary-button
{
    display: block;
    max-width: 300px;
    padding: 8px 0 8px 8%;
    margin-bottom: 8px;
    border: none;

    border-radius: 2px;

    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    background: rgb(20, 150, 200); /* Fallback */
    background: -webkit-linear-gradient(top, rgb(20, 150, 200), rgb(15, 140, 195));
    background: -moz-linear-gradient(top, rgb(20, 150, 200), rgb(15, 140, 195));
    background: -ms-linear-gradient(top, rgb(20, 150, 200), rgb(15, 140, 195));
    
    transition: background-image 0.9s;
    -webkit-transition: background-image 0.9s;
    -moz-transition: background 0.2s;
}

.primary-button:hover
{
    background-image: -webkit-linear-gradient(top, rgb(0, 100, 150), rgb(0, 90, 130));
    cursor: pointer;
}

.primary-button:active
{
    -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 20px 40px 0px inset, rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.14902) 0px 20px 40px 0px inset, rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 20px 40px 0px inset, rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
}

.secondary-button
{
    display: inline-block;
    padding: 4px 8px;
    margin: 0;

    border: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(160, 160, 160);
    border-radius: 2px;
    outline: none;

    color: rgb(10, 10, 10);

    background-color: rgb(245, 245, 245);
    background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(225, 225, 225));
    background-image: -moz-linear-gradient(top, rgb(245, 245, 245), rgb(225, 225, 225));

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9)
}

.secondary-button:hover
{
    cursor: pointer;
    color: white;
    text-shadow: none;

    background-color: rgb(0, 100, 150);
    background-image: -webkit-linear-gradient(top, rgb(0, 100, 150), rgb(0, 80, 130));
    background-image: -moz-linear-gradient(top, rgb(0, 100, 150), rgb(0, 90, 140));

    border-color: rgb(0, 100, 150) rgb(0, 100, 150) rgb(0, 80, 130);
}

.secondary-button:active
{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1470588) 0px 2px 4px 0px;
}

.block
{
    display: block;
}

/* ========================== */ 
/* PAGE STRUCTURE */
/* ========================== */

.content
{
    height: 100%;
}

header
{
    position: fixed;
    left: 0;
    top: 0;
}

.school-info-area
{
    position: absolute;
    left: 33%;
}

aside
{
    position: absolute;
    left: 66%;
}

.page-area
{
    position: absolute;
    width: 66%;
    left: 33%;
}

header, .school-info-area, aside
{
    width: 33%;
    height: 100%;
    padding-top: 0.7%;
}

header
{
    background-color: rgb(240, 240, 240);
}

.school-info-area
{
    border-right: 1px solid rgb(200, 200, 200);
}

/* Used inside areas to give padding, because they have a definite width that would be increased and add up to > 100% if padding were added. */
.padding-box
{
    position: relative;
    padding: 0 2%;
}


/* ========================== */
/* header AREA */
/* ========================== */ 

header h1
{
    float: left;
    margin: 30px 0 32px 0;

    /*Override default style*/
    background: transparent;
    letter-spacing: normal;
    font: 800 37.9px "Open Sans", Helvetica, sans-serif;
    text-transform: none;
    color: rgb(50, 50, 50);
    height: auto;
    padding: 0;
}

.your-info
{
    display: none;
}

.your-info.aside-is-popup
{
    display: inline;
}

.logout, .your-info
{
    float: right;
}

.form-wrapper
{
    text-align: center;
}

header ul
{
    clear: both;
}

.logo
{
    font-size: 21px;
    color: black;
}

.logo:hover
{
    text-decoration: none;
}

.logo .stuy
{
    background-color: rgb(0, 150, 0);
    color: white;
    padding: 100% 10px 10px 10px;
    margin-right: 4px;
}

ul
{ 
    margin-top: 0;

    list-style-type: none; 
    padding-left: 0;
}

li a
{
    text-decoration: none;
}

form
{
    display: inline-block;
    padding: 10px;
    margin: 20px auto;
    
    border: 5px solid rgba(0, 50, 255, 0.2);
    border-radius: 3px;
}

header label, header input
{
    float: left;
    margin-bottom: 10px;
    margin-top: 0;
}

header label
{
    clear: left;
    width: 100px;
    
    position: relative;
    top: 2px /* align with input */
}

header input[type=text], header input[type=password]
{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.175);

    padding: 4px 6px;
}

header input[type=text]:focus, header input[type=password]:focus
{
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 10px 1px rgb(0, 100, 255);
}

header form a
{
    margin-top: 24px; /* 14 + 10 (padding-top of submit button) = 24 */
    float: left;
    clear: left;
}

header input[type=submit]
{
    float: right;

    /* Override header button style */
    margin-top: 14px;
    padding: 10px 22px;
}

/* ========================== */
/* SCHOOL INFO AREA */
/* ========================== */

.day
{
    float: left;
    width: 50%;
    max-width: 250px; /* let's not get crazy here */
}

.today
{
    margin-bottom: 25px;
}

.tomorrow
{
    margin-bottom: 36px;
}

.day span
{ 
    display: block;
    margin-bottom: 10px;
}

.day .clock span
{
    display: inline;
}

.day h3
{
    margin-bottom: 0;
    display: inline;
}

.announcements
{
    clear: left; /* Float from schedules */
}   

.announcements ul
{
    margin-left: 20px;
    list-style-type: disc;
}

.announcements li
{
    margin-bottom: 14px;
}

/* ========================== */
/* PERSONAL INFO AREA */
/* ========================== */

aside
{
    display: block; /* Ensure that it'll be visible when the user makes window larger (JS might've hidden it) */
}

aside.popup
{
    display: none;
    position: absolute;
    top: 0;
    right: 40px;
    height: auto;

    background-color: white;
    box-shadow: 4px 0 40px 10px rgb(150, 150, 150), -4px 0 40px 10px rgb(150, 150, 150);
}

aside table
{
    margin-bottom: 20px;
    border-collapse: collapse;
}

aside tr
{
    border-bottom: 1px solid rgb(190, 190, 190);
}

aside tr:first-of-type
{
    border-top: 1px solid rgb(190, 190, 190);
}

aside td
{
    width: 50%;
    padding: 10px 20px;
}

aside td:first-child
{
    font-weight: bold;
}

aside li
{
    margin-bottom: 14px;
}

aside ul .secondary-button
{
    width: 200px;
}

span.block + span.block
{
    margin-top: 6px;
    margin-bottom: 10px;
}


@media all and (max-width: 1366px)
{
    .school-info-area
    {
        width: 66%;
    }

    aside
    {
        display: none;
        top: 0;
        right: 40px;
        height: auto;
    
        background-color: white;
        box-shadow: 4px 0 40px 10px rgb(150, 150, 150), -4px 0 40px 10px rgb(150, 150, 150);
    }

    .your-info
    {
        display: inline;
    }
}
